@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
@import "~@skinnyguy/grid-layout/css/grid-layout.min.css";
@import "variable";

html,
body {
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  color: $background;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}

figure {
  margin: 3rem 0;
  background-color: transparent;
}

pre {
  white-space: pre-line;
  background-color: #343434;
  border-radius: 3px;
  padding: 0 12px;

  code {
    margin: 0;
    font-size: .95rem;
    span {
      line-height: 1.5rem;
      font-family: 'Fira Code', monospace;
    }

    ._comment {
      margin-left: 1rem;
      font-style: italic;
      color: #646464;
    }
  }
}

code {
  &._line {
    padding: 0 7px;
    margin: 0 5px;
    font-family: 'Fira Code', monospace;
    border-radius: 3px;
    background-color: #e5e5e5;
    color: #ff495a;
    font-size: .87rem;
  }
}

._container {
  display: flex;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: $dark;
}

._box {
  max-width: 450px;

  > ._box-header {
    margin-bottom: 1rem;
    text-align: center;

    > h1 {
      position: relative;
      margin-bottom: 1rem;

      &::before {
        content: "";
        display: block;
        height: 15px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 235, 83, 0.45);
      }
    }
  }
}

._icon {
  display: inline-flex;
  align-items: center;
}

._box-footer {
  text-align: center;
}
